@page
@model MakePaymentModel
@{
}
<link href="~/css/gestionrolstyle.css" rel="stylesheet"/>

<div class="bs-docs-section">
    <div class="container">
        <div style="height: 3.125rem;"></div>
        <div class="header-container d-flex justify-content-between ">
            <h1>Realizar pago</h1>
            <div class="d-flex align-items-center">
                <button class="btn btn-back rounded-3" onclick="window.location.href = 'MenuPayments'">
                    <span class="material-icons-outlined material-symbols-outlined">arrow_back</span>
                </button>
            </div>
        </div>
        <div style="height: 3.125rem;"></div>
        <h3>Seleccione un cliente</h3>
        <div class="col-lg-12 table-responsive">
            <table id="tblClients" class="display row-border compact hover" style="width: 100%">
                <thead style="background-color: rgb(240, 181, 58)">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Género</th>
                    <th>Correo electrónico</th>
                    <th>Número telefónico</th>
                </tr>
                </thead>
                @* <tbody>

                </tbody> *@
            </table>
        </div>
        <div style="height: 3.125rem;"></div>
        <div class="form-buttons">
            <button id="btnSelect" class="source-button btn btn-primary btn-xs" type="button" tabindex="0">
                Iniciar pago
            </button>
        </div>
    </div>
</div>

<script src="~/js/pages/paymentusers.js"></script>