@page
@model MembershipsModel
@{
}

<div class="bs-docs-section">
    <div class="row">
        <div style="height: 3.125rem;"></div>
        <div class="header-container d-flex justify-content-between ">
            <h1>Membresías</h1>
            <div class="d-flex align-items-center">
                <button class="btn btn-back rounded-3 " onclick="history.back()">
                    <span class="material-icons-outlined material-symbols-outlined">arrow_back</span>
                </button>
            </div>
        </div>
        <div style="height: 3.125rem;"></div>
        <div class="col-lg-12">
            <table id="#" class="display" style="width: 100%">
                <thead>
                <tr>
                    <th>Nombre del Plan</th>
                    <th>Beneficios</th>
                    <th>Precio</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Plan Básico</td>
                    <td>Acceso a gimnasio, una clase grupal al mes</td>
                    <td>$20</td>
                </tr>
                <tr>
                    <td>Plan Estándar</td>
                    <td>Acceso a gimnasio, tres clases grupales al mes, una sesión de entrenamiento personal</td>
                    <td>$50</td>
                </tr>
                <tr>
                    <td>Plan Premium</td>
                    <td>Acceso ilimitado a gimnasio y clases grupales, tres sesiones de entrenamiento personal</td>
                    <td>$100</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>