@page
@model PasswordChangerModel
@{
}
<link href="~/css/passchanger.css" rel="stylesheet"/>
<script src="~/js/pages/passwordchanger.js"></script>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    Cambiar Contraseña
                </div>
                <div class="card-body">
                    <form id="changePasswordForm">
                        <div class="mb-3">
                            <label for="currentPassword" class="form-label">Contraseña Actual</label>
                            <input type="password" class="form-control" id="currentPassword" required>
                        </div>
                        <div class="mb-3">
                            <label for="newPassword" class="form-label">Nueva Contraseña</label>
                            <input type="password" class="form-control" id="newPassword" placeholder="Nueva contraseña" required>
                        </div>
                        <div class="mb-3">
                            <label for="confirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirmar contraseña" required>
                            <div id="passwordMatchError" class="invalid-feedback">
                                Las contraseñas no coinciden.
                            </div>
                        </div>
                        <div>
                            <button id="change-ps" type="button" class="btn btn-primary">Cambiar Contraseña</button>
                            <button id="cancel-btn" type="button" class="btn btn-secondary" onclick="history.back()">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>