@page
@model PersonalWorkoutModel
@{
}

<script src="~/js/pages/personalworkout.js"></script>
<link href="~/css/gestionrolstyle.css" rel="stylesheet"/>

<div class="container">
    <div style="height: 3.125rem;"></div>
    <div class="header-container d-flex justify-content-between ">
        <h1>Agendar entremiento personal</h1>
        <div class="d-flex align-items-center">
            <button class="btn btn-back rounded-3 " onclick="history.back()">
                <span class="material-icons-outlined material-symbols-outlined">arrow_back</span>
            </button>
        </div>
    </div>
    <div style="height: 3.125rem;"></div>
    <div>
        <div class="col-lg-12 table-responsive">
            <h3>Seleccione un entrenador</h3>
            <table id="tblTrainers" class="display row-border compact hover" style="width: 100%">
                <thead style="background-color: rgb(240, 181, 58)">
                <tr>
                    <th class="d-none">Id</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th class="d-none">Correo</th>
                    <th data-toggle="tooltip" title="El horario se muestra con las siglas de los dias eg: LK es Lunes y Martes">Horario</th>
                    <th>Hora de entrada</th>
                    <th>Hora de salida</th>
                </tr>
                </thead>
                @* <tbody>

                </tbody> *@
            </table>
        </div>
    </div>

    <form class="p-4 border rounded shadow-sm bg-light form-container">
        <fieldset>
            <div class="form-header mb-1">
                <h4>Formulario para entrenamiento personal</h4>
            </div>
            <div class="form-group d-none">
                <label for="txtId" class="form-label mt-4">Id</label>
                <input id="txtId" readonly="readonly" type="number" value="0" class="form-control" aria-describedby="emailHelp"/>

            </div>
            <div class="form-group">
                <label for="txtName" class="form-label mt-4">Nombre del entrenador</label>
                <input id="txtName" readonly="readonly" type="text" value="" class="form-control" aria-describedby="emailHelp"/>

            </div>
            <div class="form-group">
                <label for="txtDate" class="form-label mt-4">Fecha para la cita</label>
                <input id="txtDate" type="date" class="form-control" aria-describedby="emailHelp" value="2000-01-01" placeholder="Ingresa la fecha deseada..."/>
                <small id="dateHelp" class="form-text text-muted default-placeholder">Ejemplo: 31-12-2000</small>
            </div>

            <div class="form-group">
                <label for="txtTimeIn" class="form-label mt-4">Hora de inicio</label>
                <input id="txtTimeIn" type="time" class="form-control" aria-describedby="emailHelp" value="00:00:00" placeholder="Ingrese la hora de inicio..."/>
            </div>

            <div class="form-group">
                <label for="txtTimeOut" class="form-label mt-4">Hora de fin</label>
                <input id="txtTimeOut" type="time" class="form-control" aria-describedby="emailHelp" value="00:00:00" placeholder="Ingrese la hora de fin..."/>
            </div>

            <div class="form-group">
                <label for="txtCost" class="form-label mt-4">Precio por hora</label>
                <div class="input-group">
                    <span class="input-group-text">₡</span>
                    <input id="txtCost" type="number" class="form-control" aria-describedby="emailHelp" value="2500" placeholder="Ingrese la tarifa por hora..."/>
                </div>
                <small id="dateHelp" class="form-text text-muted default-placeholder">Tarifa mínima por hora: ₡2500 </small>
            </div>


            <div class="form-group mt-4">
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0">Crear cita</button>
            </div>
        </fieldset>
    </form>
    <div style="height: 3.125rem;"></div>


    <!-- Clases Agendadas -->

    <h1>Citas agendadas</h1>
    <div style="height: 3.125rem;"></div>

    <div class="table-responsive">
        <h3>Seleccione un cita para cancelar</h3>
        <table id="tblPersonalT" class="display row-border compact hover" style="width: 100%">
            <thead style="background-color: rgb(240, 181, 58)">
            <tr>
                <th>Número de cita</th>
                <th>Entrenador</th>
                <th>Fecha</th>
                <th>Hora inicio</th>
                <th>Hora fin</th>
                <th>Costo por hora</th>
                <th>Pagada</th>
                <th>Cancelada</th>
            </tr>
            </thead>

        </table>
    </div>
    <div style="height: 3.125rem;"></div>
    <form class="p-4 border rounded shadow-sm bg-light form-container">
        <fieldset>
            <div class="form-header mb-1">
                <h4>Cancelación de cita</h4>
            </div>
            <div class="form-group">
                <label for="txtIdPT" class="form-label mt-4">Número de cita</label>
                <input id="txtIdPT" readonly="readonly" type="number" class="form-control" aria-describedby="emailHelp" placeholder="Número de cita"/>
            </div>
            <div class="form-group">
                <label for="txtDatePT" class="form-label mt-4">Fecha</label>
                <input id="txtDatePT" readonly="readonly" type="date" class="form-control" aria-describedby="emailHelp" value="2000-01-01" placeholder="Fecha"/>
                <small id="dateHelp" class="form-text text-muted default-placeholder">Ejemplo: 31-12-2000</small>

            </div>
            <div class="form-group">
                <label for="txtTimeInPT" class="form-label mt-4">Hora de entrada</label>
                <input id="txtTimeInPT" readonly="readonly" type="time" class="form-control" aria-describedby="emailHelp" value="00:00" placeholder="Hora de entrada"/>
            </div>
            <div class="form-group">
                <label for="txtTimeOutPT" class="form-label mt-4">Hora de salida</label>
                <input id="txtTimeOutPT" readonly="readonly" type="time" class="form-control" value="00:00" aria-describedby="emailHelp" placeholder="Hora de salida"/>
            </div>
            <div class="form-group my-4">
                <button id="btnCancel" class="source-button btn btn-primary btn-xs" type="button" tabindex="0">Cancelar cita</button>
            </div>
        </fieldset>
    </form>

    <div style="height: 3.125rem;"></div>
</div>