@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de privacidad";
}
<div class="container mt-5">
    <h1 class="text-center mb-4">Política de Privacidad de Silueta Club Fitness</h1>

    <p class="lead">
        Bienvenido/a a la Política de Privacidad de Silueta Club Fitness. Aquí te explicamos cómo recopilamos, utilizamos
        y protegemos tu información cuando visitas nuestro sitio web y utilizas nuestros servicios.
    </p>

    <h2 class="mt-5">Información que Recopilamos</h2>
    <ol class="mb-4">
        <li>
            <strong>Información Personal:</strong> Recopilamos la información que nos proporcionas directamente, como tu nombre,
            dirección de correo electrónico, número de teléfono y dirección postal, cuando te registras en nuestro gimnasio o te
            suscribes a nuestros servicios.
        </li>
        <li>
            <strong>Información de Pago:</strong> Si eliges utilizar nuestros servicios de pago, como membresías o clases especiales,
            recopilaremos información de pago como números de tarjeta de crédito o débito, así como otros datos necesarios para
            procesar tus pagos.
        </li>
        <li>
            <strong>Información Automática:</strong> Podemos recopilar cierta información automáticamente cuando visitas nuestro sitio web,
            como tu dirección IP, tipo de navegador, idioma del navegador, páginas visitadas y la fecha y hora de tu visita. Esta
            información nos ayuda a mejorar la experiencia del usuario y a gestionar nuestro sitio web de manera efectiva.
        </li>
    </ol>

    <h2 class="mt-5">Uso de la Información</h2>
    <p>Utilizamos la información recopilada para los siguientes propósitos:</p>
    <ul class="mb-4">
        <li>Procesar tu inscripción y mantenerte informado/a sobre tu membresía.</li>
        <li>Proporcionarte los servicios que solicitaste, como acceso a nuestras instalaciones y clases.</li>
        <li>Gestionar y mejorar nuestro sitio web y servicios.</li>
        <li>Comunicarnos contigo, responder a tus consultas y proporcionarte información relevante sobre eventos, promociones u otros servicios que puedan interesarte.</li>
        <li>Cumplir con obligaciones legales y regulatorias.</li>
    </ul>

    <h2 class="mt-5">Compartición de Información</h2>
    <p>No vendemos, alquilamos ni compartimos tu información personal con terceros, excepto en las siguientes circunstancias limitadas:</p>
    <ul class="mb-4">
        <li>Cuando sea necesario para cumplir con la ley o responder a procesos legales.</li>
        <li>Con tu consentimiento explícito para compartir tu información.</li>
        <li>Con proveedores de servicios de confianza que trabajan en nuestro nombre, bajo acuerdos de confidencialidad, para proporcionarte nuestros servicios.</li>
    </ul>

    <h2 class="mt-5">Seguridad de la Información</h2>
    <p class="mb-4">
        Tomamos medidas razonables para proteger tu información personal contra pérdida, uso indebido y acceso no autorizado. Sin embargo,
        debes tener en cuenta que ninguna transmisión de datos por Internet o almacenamiento electrónico es completamente segura.
    </p>

    <h2 class="mt-5">Cambios en esta Política de Privacidad</h2>
    <p class="mb-4">
        Nos reservamos el derecho de actualizar esta Política de Privacidad periódicamente para reflejar cambios en nuestras prácticas
        de información. Te recomendamos revisar esta página regularmente para estar al tanto de cualquier actualización.
    </p>

    <h2 class="mt-5">Contacto</h2>
    <p>
        Si tienes preguntas sobre esta Política de Privacidad o sobre cómo manejamos tu información, por favor contáctanos a través
        de los siguientes medios:
    </p>
    <ul class="mb-4">
        <li>
            Correo electrónico: <a href="mailto:siluetaclubfitness@gmail.com">siluetaclubfitness@gmail.com</a>
        </li>
        <li>Teléfono: <a href="tel:+50683650601">+506-8365-0601</a></li>
    </ul>

    <p class="mt-4">
        Esta Política de Privacidad es efectiva a partir de la fecha indicada arriba y se aplica a todas las interacciones que tengas
        con Silueta Club Fitness, ya sea en línea o fuera de línea.
    </p>

    <div style="height: 50px;"></div> <!-- Para añadir un espacio en blanco al final de la página -->
</div>