@page
@model SetRegistrationDiscountModel
@{
}

<div class="bs-docs-section">
    <div class="row">
        <div class="col-lg-6">
            <div class="bs-component">
                <form>
                    <fieldset>
                        <legend>Definir Descuentos para Matricula</legend>
                        <div class="form-group">
                            <label for="percentNumber" class="form-label mt-4">Porcentaje de Descuento (%)</label>
                            <input id="percentNumber" type="number" class="form-control">
                        </div>
                    </fieldset>
                </form>
                <br/>
                <button id="btnCreate" class="source-button btn btn-primary btn-xs" type="button" tabindex="0">
                    <i class="bi bi-code">Aplicar</i>
                </button>
            </div>
        </div>
    </div>
</div>